.red{
    color: red;
    font-size: 20px;
}

.blue{
    color: blue;
    font-size: 21px;
}

.div{
    border: 2px black solid ;
    background-color: pink;
   
}

.btnstyle{
    background-color: blue;
    color: white;
}

.h1Style{
    text-decoration: underline;
    color: purple;
}